body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;

  background-image: url("fondo.jpg"); /* 👈 AQUÍ */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 2.8em;
}

p {
    font-size: 1.1em;
    max-width: 500px;
}

button {
    padding: 14px 35px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #ff2f7a;
    font-size: 1em;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.photo, .video {
    width: 240px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    opacity: 0;
    transform: scale(0.8);
    transition: 1s;
}

.photo {
    height: 300px;
    object-fit: cover;
}

.video {
    height: auto;
}

.show {
    opacity: 1;
    transform: scale(1);
}

.frase {
    margin-top: 20px;
    font-size: 1.15em;
}
.cartita {
  background-image: url("fondo-cartita.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 20px;
  text-align: center;
  color: #7b1e28;
}

.cartita h1 {
  font-size: 42px;
}

.cartita h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 38px;
  margin-bottom: 30px;
}

.grid-razones {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.v-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(123,30,40,0.4);
  left: 50%;
}

.razon {
  font-size: 16px;
  padding: 10px;
}

.corazon img {
  width: 40px;
}





